%h1= @title
%p= "Combat lasted %s" % @duration.to_clock

%h1 Data
#jungle
  %ul
    %li!=link_to("Player DPS", data_path("damage_done", "html", {"segment_id" => @segment.id, "is_player" => true, "is_friendlyfire" => false}))
    %li=link_to("Player Outgoing", data_path("damage_done_spells", "html", {"segment_id" => @segment.id, "is_player" => true, "is_friendlyfire" => false}))
    %li!=link_to("Player Incoming", data_path("damage_taken", "html", {"segment_id" => @segment.id, "is_player" => true, "is_friendlyfire" => false}))
    %li=link_to("NPC DPS", data_path("damage_done", "html", {"segment_id" => @segment.id, "is_npc" => true, "is_friendlyfire" => false}))
    %li!=link_to("NPC Outgoing", data_path("damage_done_spells", "html", {"segment_id" => @segment.id, "is_npc" => true, "is_friendlyfire" => false}))
    %li=link_to("NPC Incoming", data_path("damage_taken", "html", {"segment_id" => @segment.id, "is_npc" => true, "is_friendlyfire" => false}))
    
#accord
  %h3 Hi
  %div Something
  %h3 Bye
  %div Something