%table
	%thead
		%tr
			%th.left Player
			%th.left Damage Taken
	%tbody
		- @data.each do |t|
			%tr{:class => cycle("r1", "r2")}
				%td.left= unit_link(t.dest_id, t.dest_name, t.dest_class_id, t.dest_npc_id)
				%td.left= t.amount_total.pretty